.flex-container {
  background-color: rgb(190, 190, 231);
}

/* Flex Container 1 */

.flex-container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 750px;
  margin: 0px auto;
  background-color: #fff;
}
.flex-container-1 > .flex-item {
  padding: 0 0 100px 0;
  margin: 5px;
  width: 120px
}


/* Flex Container 2 */
.flex-container-2 {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 750px;
  margin: 0px 0px 0px auto;
  background-color: #fff;
}
.flex-container-2 > .flex-item {
  padding: 0 0 100px 0;
  margin: 5px;
  width: 120px
}

/* Flex Container 3 */
/* use height: 400px; on the container */
.flex-container-3 {
  height: 450px;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  align-items:flex-end;
  background-color: #fff;
}
.flex-container-3 > .flex-item {
  padding: 0 0 100px 0;
  margin: 5px;
  width: 120px
}

/* Flex Container 4 */
.flex-container-4 {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
}
.flex-container-4 > .flex-item {
  padding: 0 0 100px 0;
  margin: 5px;
  width: 120px
}
.flex-container-4 > .flex-item.item6, .flex-container-4 > .flex-item.item7, .flex-container-4 > .flex-item.item8 {
  padding: 0 0 150px 0;
  margin: 5px;
  width: 170px;
  align-self: flex-end;
}


/* Flex Container 5 */

/* Flex Container 6 */

.flex-container-6 .flex-item {
  width: 400px;
}

/* use height: 300px; on the container */
