/* Specificity Exercise */

nav .list-item > a {
  color: var(--purple);
}
/* Specificity Calculation: 0-1-1 */

#main::first-letter {
  color: var(--purple);
}
/* Specificity Calculation: 1-0-1 */

input[type] {
  color: var(--purple);
}
/* Specificity Calculation: 0-0-1 */

section .main::first-line {
  color: var(--purple);
}
/* Specificity Calculation: 0-1-2 */

nav ul.menu li#first a:not([class='visited']) {
  color: var(--purple);
}
/* Specificity Calculation: 1-2-4 */

div ol li ul li ol li ul li a {
  color: var(--purple);
}
/* Specificity Calculation: 0-0-10 */
