:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
}

.header,
.section,
.aside {
  box-sizing: inherit;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  background-color: var(--blue);
}

.header h1 {
  text-align: left;
}

.section {
  display: inline-block;
  width: 75%;
  height: 300px;
  background-color: var(--orange);
}

.aside {
  float: right;
  width: 25%;
  height: 300px;
  background-color: var(--gold);
}
