/* 0px - 320px wide: for mobile phones*/
@media (min-width: 0px) {
  body {
    background: var(--purple);
    color: var(--white);
  }
}

/* 320px - 768px wide: for tablets*/
@media (min-width: 320px) {
  body {
    background: var(--orange);
    color: var(--white);
  }
}

/* 768px - 1024px wide: for laptops*/
@media (min-width: 768px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}

/* 1024px wide and above: for desktops*/
@media (min-width: 1024px) {
  body {
    background: var(--green);
    color: var(--white);
  }
}
